<footer>
  <div class="footer-signoff">
    <div class="test-pattern">
      <span class="bar bar-white"></span>
      <span class="bar bar-yellow"></span>
      <span class="bar bar-cyan"></span>
      <span class="bar bar-green"></span>
      <span class="bar bar-magenta"></span>
      <span class="bar bar-red"></span>
      <span class="bar bar-blue"></span>
    </div>
    <p class="signoff-text">End of Broadcast</p>
    <p class="signoff-copy">&copy; {{ site.time | date: '%Y' }} Andrew Deitrick. All rights reserved.</p>
  </div>
</footer>
